{% extends "website/layout.html" %}
{% load static %}
{% block body %}

<br>
<h2>Walkthrough and Solutions to Harvard CS50P PSETs</h2>
<br>
<hr>
<div style="background-color: black; color: white;" class="container">
    <div class="row">

        <div class="col-12">
            <br> 
            <br>
            <h4>LIVE: Build a Guess Game, Dictionary, Coke Machine and Date Converter with Python
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/u-489ikmW-k?si=chNY-XLjo7GlrPn5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>Working with dictionaries in Python #cs50p_nutrition
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/9gnR6Ct0o2E?si=su4BFwCL1H2c_DC8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>Python Project to check fuel gauge #CS50p_gauge
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xOCZ9NkOlyg?si=n85McZlZ54MKzdNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>How to validate license plates in Python #CS50P_vanityplates
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jN1mbTzLAio?si=7soW40e0hjc0uGZ1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>


        <div class="col-12">
            <br> 
            <br>
            <h4>How to convert strings to camelCase in Python #cs50p_camel
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PDspuhw7LDM?si=n2whEJS35BaGRmER" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>How to remove vowels in strings in Python #cs50p_twttr
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/nku_XO4O1Dw?si=Pj554uVu6NRssZ5p" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>How to build a calculator in Python #CS50p_interpreter
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rrEOZQgs4AE?si=foCjcVg8DtVtOO8X" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>How to build a coke machine in Python #CS50p
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VsXRmTJiGJ8?si=x5Kz5Zl1_h_HkPf-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>How to create Logic for media type in Python using List Index and subsets #CS50p_fileextensions
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_Zdygip07WA?si=Z8kIMDWE0ZROPk_t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>


        <div class="col-12">
            <br> 
            <br>
            <h4>This Python Project teaches how to use if, elif, else, replace, split and list index #CS50p_Bank
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/NhEq6GvlPio?si=9ugvG2MxDH2Tp4Gg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>How to build a Tip Calculator in Python #CS50p_tip_calculator
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jWhC2R4t-s4?si=T9-XalT9zZ4bK7dq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>How to work with integers in Python with Einstein Formula #CS50p_Einstein
            </h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZHs1ek_qmEk?si=0sumHKLBZDi65gLp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>Introduction to if else statements with a challenge #CS50p_deep_thought</h4>
            <div class="video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/A4yQLdkY_Vg?si=eh5_7lAAdktDupSr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
            <br> 
            <br>
            <h4>How to replace strings in python #CS50p_playback_speed</h4>
            <div class="video-container">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/a29gz0eWEBo?si=G-HcN1LVEs5btSYm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-12">
        <br>
        <br>
        <h4>"Hello, World!" Write your first Python program #CS50p_indoor_voice</h4>
            <div class="video-container">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Sssk7wNn0EY?si=hI-Ab96zM_AxXZ9H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<style>
    /* Custom CSS to style the video container */
    .video-container {
        position: relative;
        padding-bottom: 42.1875%; /* 16:9 aspect ratio (adjust as needed for desired size) */
        padding-top: 30px; /* Add some spacing on top if needed */
        height: 0;
        overflow: hidden;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

{% endblock %}
