
<section style="background-color: black;" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled contact-icons">
                    <li>
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:samsonlukman@tinktechy.com">samsonlukman@tinktechy.com</a>
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <a href="tel:+234 701 577 9491">+234 701 577 9491</a>
                    </li>
                    <br>
                    
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/lukman-o-samson-497225135/" target="_blank"><i class="fab fa-linkedin" style="font-size: 50px;"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://web.facebook.com/samson.lukman2" target="_blank"><i class="fab fa-facebook" style="font-size: 50px;"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/samsonlukman" target="_blank"><i class="fab fa-github" style="font-size: 50px;"></i></a>
                        </li>
                    
                    
                </ul>
            </div>
        </div>
    </div>
</section>