{% extends "website/layout.html" %}
{% load static %}
{% block body %}

    <section id="intro" class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="display-4">Welcome</h1>
                    <p class="lead">I am Samson Lukman. Explore a diverse collection of my work as a Full-Stack Software Developer.
                    With a passion for web development and a keen eye for containerization, deployment, and CI/CD, I bring innovative solutions to life.
                    Whether it's crafting elegant websites from scratch, CMS like Wordpress and Shopify, optimizing application performance, or streamlining deployment pipelines, I'm dedicated to pushing the boundaries of what's possible in the digital world. Welcome to my realm of coding, creativity, and the transformation of ideas into reality.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="/media/images/me.png" alt="Samson Lukman" class="img-fluid ffrcle">
                </div>
            </div>
        </div>
    </section>

    <section id="projects" class="py-5 bg-light">
        <div class="container">
            <h1 class="text-center mb-5">Projects</h1>
            <div class="row">
                <div class="mb-4">
                    <a href="https://shopafrifood.com" class="text-decoration-none" target="_blank">
                        <h3>Afri Food</h3>
                    </a>
                    <p>A fully-functional custom e-commerce web application built with Django,
                    allowing users to purchase indigenous African food items, add items to a cart, create accounts,
                    and track their purchase history.</p>
                </div>
                <div class="row">
                    <div class="col-4 mb-3">
                        <img src="/media/images/af1.png" alt="Afrifood image" class="img-fluid ffrcle">
                    </div>

                    <div class="col-4 mb-3">
                        <img src="/media/images/af2.png" alt="Afrifood image" class="img-fluid ffrcle">
                    </div>
                    <div class="col-4 mb-3">
                        <img src="/media/images/af3.png" alt="Afrifood image" class="img-fluid ffrcle">
                    </div>
                    <div class="col-4 mb-3">
                        <img src="/media/images/af4.png" alt="Afrifood image" class="img-fluid ffrcle">
                    </div>
                    <div class="col-4 mb-3">
                        <img src="/media/images/af5.png" alt="Afrifood image" class="img-fluid ffrcle">
                    </div>
                    <div class="col-4 mb-3">
                        <img src="/media/images/af6.png" alt="Afrifood image" class="img-fluid ffrcle">
                    </div>
                    <div class="col-4 mb-3">
                        <img src="/media/images/af7.png" alt="Afrifood image" class="img-fluid ffrcle">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" mb-4">
                    <a href="https://play.google.com/store/apps/details?id=com.payville" class="text-decoration-none" target="_blank">
                        <h3>PayVille</h3>
                    </a>
                    <p>Built with Expo React Native and Django for the backend, this mobile app is a fintech app
                        that allows users to make bank transfers, purchase airtime and data, make cable and electricity subscriptions,
                        and much more. It also includes fingerprint login features, secure transactions, good error handling, and
                        quick response time.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <img src="/media/images/payville1.png" alt="Payville App Image" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/payville2.png" alt="Payville App Image" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/payville3.png" alt="Payville App Image" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/payville4.png" alt="Payville App Image" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/payville5.png" alt="Payville App Image" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/payville6.png" alt="Payville App Image" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/payville7.png" alt="Payville App Image" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/payville8.png" alt="Payville App Image" class="img-fluid ffrcle">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" mb-4">
                    <a href="https://www.covenantdreams.com" class="text-decoration-none" target="_blank">
                        <h3>Home Health Care Agency</h3>
                    </a>
                    <p>A premium WordPress website for a US-based Home Care Health Agency. Built with WordPress
                        and Elementor, the site showcases the offers of the company while users are able to
                        make appointments either via email or phone on the website.
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <img src="/media/images/cd1.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/cd2.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/cd3.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/cd4.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/cd5.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/cd6.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/cd7.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" mb-4">
                    <a href="https://play.google.com/store/apps/details?id=com.samsonlukman.propertyPivot" class="text-decoration-none" target="_blank">
                        <h3>PropertyPivot</h3>
                    </a>
                    <p>Built with Expo React Native and Django for the backend, this mobile application allows
                        users rent, lease and buy properties which include lands and apartments.
                        Users can also upload lands and apartments they have to rent, lease or sell. Users
                        who are buying, renting, or leasing can contact the owners of properties if they
                        have an account
                    </p>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <img src="/media/images/pp1.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/pp2.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/pp3.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/pp4.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/pp5.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>
                        <div class="col-4 mb-3">
                            <img src="/media/images/pp6.png" alt="covenantdreams Website" class="img-fluid ffrcle">
                        </div>

                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" mb-4">
                    <a href="https://mintechy.pythonanywhere.com" class="text-decoration-none" target="_blank">
                        <h3>ChatToLearn</h3>
                    </a>
                    <p>An Online Tech School Platform. This project is a comprehensive online tech school that goes beyond traditional e-learning. It seamlessly integrates social media features for students to connect and collaborate. Users can access course content and download resources for offline learning. The platform also provides advanced tracking, allowing students to monitor their progress by keeping a record of how many times they've watched a video or downloaded course materials. This project showcases my expertise in building feature-rich e-learning platforms and tracking systems, emphasizing user engagement and progress tracking.</p>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <img src="/media/images/mt1.png" alt="ChatToLearn" class="img-fluid ffrcle">
                        </div>
                        <div class="col-6 mb-3">
                            <img src="/media/images/mt2.png" alt="ChatToLearn" class="img-fluid ffrcle">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" mb-4">
                    <a href="https://ialert.pythonanywhere.com/" class="text-decoration-none" target="_blank">
                        <h3>Crime Alert website</h3>
                    </a>
                    <p>This project is a community-driven crime alert platform that empowers users to report incidents in their vicinity. Users can easily share information about local crimes and emergencies, with the system automatically capturing their coordinates to pinpoint the incident's location accurately. It's a user-friendly and essential tool for enhancing community safety and engagement. This project highlights my skills in building applications for community welfare, location-based services, and user-generated content, emphasizing the importance of safety and community involvement.</p>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <img src="/media/images/ca1.png" alt="Crime Alert" class="img-fluid ffrcle">
                        </div>
                        <div class="col-6 mb-3">
                            <img src="/media/images/ca2.png" alt="Crime Alert" class="img-fluid ffrcle">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class=" mb-4">
                    <a href="https://chatap.pythonanywhere.com/" blank="True" class="text-decoration-none" target="_blank">
                        <h3>Chat App</h3>
                    </a>
                    <p>A custom chat app that allows users to send messages and get responses in real-time. Built with Django channels and WebSockets, this chat app serves as an example of real-time messaging capabilities.</p>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <img src="/media/images/chat.png" alt="Chat App" class="img-fluid ffrcle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="github-link" class="py-5 text-center">
        <div class="container">
            <a href="https://github.com/samsonlukman" target="_blank" class="btn btn-primary btn-lg">View more projects on GitHub</a>
        </div>
    </section>

    <footer class="bg-dark text-white py-4">
        <section id="contact" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        {% if message %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                        {% endif %}
                        <div class="contact-form">
                            <h3>Send a Message</h3>
                            <form action="{% url 'message' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="message">Message</label>
                                    <textarea name="message" rows="4" class="form-control" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-unstyled contact-icons">
                            <li class="mb-3">
                                <i class="fas fa-envelope me-2"></i>
                                <a href="mailto:samsonlukman@tinktechy.com" class="text-white">samsonlukman@tinktechy.com</a>
                            </li>
                            <li class="mb-3">
                                <i class="fas fa-phone me-2"></i>
                                <a href="tel:+2347015779491" class="text-white">+234 701 577 9491</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/lukman-o-samson-497225135/" target="_blank"><i class="fab fa-linkedin text-white" style="font-size: 30px;"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://web.facebook.com/samson.lukman2" target="_blank"><i class="fab fa-facebook text-white" style="font-size: 30px;"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/samsonlukman" target="_blank"><i class="fab fa-github text-white" style="font-size: 30px;"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </footer>

{% endblock %}
